.vfrc-header {
    background-color: #FF8E1C !important; /* orange */
    font-family: 'DM Sans', sans-serif !important;
}

.vfrc-assistant-info--title {
    font-family: 'DM Sans', sans-serif !important;
    font-color: #453927 !important;
}

.vfrc-assistant-info--description {
    font-family: 'DM Sans', sans-serif !important;
    font-color: #453927 !important;
}
